* {
  padding: 0;
  margin: 0;
  font-family: 'Antonio', sans-serif;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  box-sizing: border-box; }

body {
  background: #0f171e; }

.bg-transparent {
  background-color: transparent !important;
  transition: 0.8s ease; }
  .bg-transparent .navbar-brand {
    font-size: 20px;
    color: rgba(242, 244, 246, 0.9);
    font-family: 'Bebas Neue', cursive; }
  .bg-transparent .nav-item {
    font-size: 13px; }
  .bg-transparent .dropdown-menu {
    background: #0f171e;
    font-size: 15px; }
    .bg-transparent .dropdown-menu :hover {
      background: #0f171e; }
    .bg-transparent .dropdown-menu .dropdown-item {
      color: rgba(242, 244, 246, 0.9); }
      .bg-transparent .dropdown-menu .dropdown-item :hover {
        color: rgba(242, 244, 246, 0.9); }
  .bg-transparent .searchBar {
    background: transparent;
    color: rgba(242, 244, 246, 0.9);
    border: 0, 5px solid rgba(242, 244, 246, 0.9);
    outline: none;
    border-radius: 0px;
    font-size: 15px; }
    .bg-transparent .searchBar:focus {
      outline: none !important;
      box-shadow: none !important; }
  .bg-transparent .btn-iniciar {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(242, 244, 246, 0.9);
    font-weight: 500;
    margin: 10px, 0px;
    font-size: 15px; }
    .bg-transparent .btn-iniciar:focus {
      outline: none !important; }
    .bg-transparent .btn-iniciar a {
      color: rgba(242, 244, 246, 0.9); }
  .bg-transparent .userIconLogged {
    font-size: 20px; }
  .bg-transparent .loggedButton {
    background: transparent !important;
    color: white;
    border: none;
    font-size: 18px; }
    .bg-transparent .loggedButton:focus {
      box-shadow: none !important; }
  .bg-transparent .loggedDropdown {
    background: #0f171e;
    color: white; }
  .bg-transparent .btn-cerrar {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(242, 244, 246, 0.9);
    font-weight: 500;
    padding-right: 20px;
    font-size: 15px; }

.bg-dark {
  background-color: #0f171e !important;
  transition: 0.8s ease; }
  .bg-dark .navbar-brand {
    font-size: 20px;
    color: rgba(242, 244, 246, 0.9);
    font-family: 'Bebas Neue', cursive; }
  .bg-dark .nav-item {
    font-size: 13px; }
  .bg-dark .dropdown-menu {
    background: #0f171e;
    font-size: 15px; }
    .bg-dark .dropdown-menu :hover {
      background: #0f171e; }
    .bg-dark .dropdown-menu .dropdown-item {
      color: rgba(242, 244, 246, 0.9); }
      .bg-dark .dropdown-menu .dropdown-item :hover {
        color: rgba(242, 244, 246, 0.9); }
  .bg-dark .searchBar {
    background: transparent;
    color: rgba(242, 244, 246, 0.9);
    border: 0.5px rgba(242, 244, 246, 0.9);
    outline: none;
    border-radius: none;
    font-size: 15px; }
    .bg-dark .searchBar:focus {
      outline: none !important;
      box-shadow: none !important; }
  .bg-dark .btn-iniciar {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(242, 244, 246, 0.9);
    font-weight: 500;
    margin: 10px, 0px;
    font-size: 15px; }
    .bg-dark .btn-iniciar:focus {
      outline: none !important; }
    .bg-dark .btn-iniciar a {
      color: rgba(242, 244, 246, 0.9); }
  .bg-dark .userIconLogged {
    font-size: 20px; }
  .bg-dark .loggedButton {
    background: transparent !important;
    color: white;
    border: none;
    font-size: 18px; }
    .bg-dark .loggedButton:focus {
      outline: none !important;
      box-shadow: none !important; }
  .bg-dark .loggedDropdown {
    background: #0f171e;
    color: white; }
  .bg-dark .btn-cerrar {
    background: transparent;
    border: none;
    outline: none;
    color: rgba(242, 244, 246, 0.9);
    font-weight: 500;
    padding-right: 20px;
    font-size: 15px; }

.loginForm {
  margin-top: 100px;
  padding: 20px; }
  .loginForm .formInput {
    padding: 10px;
    margin: 10px;
    border: none; }
  .loginForm .formSubmit {
    padding: 10px;
    margin-top: 20px; }

.carousel-one #carousel-container {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.075), rgba(0, 0, 0, 0.89)); }

.carousel-one .carousel-info {
  color: white;
  position: absolute;
  left: 1%;
  top: 20%;
  width: 40%;
  margin-left: 100px;
  text-align: left;
  font-size: 20px;
  font-weight: bold; }
  .carousel-one .carousel-info h5 {
    font-size: 70px;
    font-weight: 700;
    color: white; }
  .carousel-one .carousel-info .hd {
    height: 80%;
    margin-left: 10px;
    border-radius: 4px;
    text-align: center;
    font-weight: 900;
    color: black;
    font-size: 15px;
    background-color: #EDB709;
    width: 30px; }
  .carousel-one .carousel-info .carousel-plot {
    font-size: 18px;
    font-weight: 500; }
  .carousel-one .carousel-info .btn-carousel {
    display: flex;
    align-self: center; }

.main-container {
  overflow: hidden; }
  .main-container .menuFilterGenero {
    margin-left: 20px;
    color: rgba(242, 244, 246, 0.9);
    background-color: #0f171e;
    padding: 5px;
    border: none;
    font-size: 15px; }
  .main-container .section-peliculas-title {
    color: white;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 20px; }
    .main-container .section-peliculas-title .btn-filter {
      border-radius: 12px;
      color: rgba(242, 244, 246, 0.9);
      margin: 2px 8px;
      border: 1px solid rgba(242, 244, 246, 0.9);
      background: transparent;
      padding: 10px; }
      .main-container .section-peliculas-title .btn-filter:hover {
        font-weight: bold;
        color: black;
        background: #EDB709;
        border: 1px solid transparent; }
      .main-container .section-peliculas-title .btn-filter:focus {
        font-weight: bold;
        color: black;
        background: #EDB709;
        border: 1px solid transparent; }
  .main-container #contenedorCards {
    margin-bottom: 200px; }
    .main-container #contenedorCards .cards-peliculas {
      padding-bottom: 150px;
      padding-top: 150px; }
      .main-container #contenedorCards .cards-peliculas .card-movie {
        border-radius: 0%;
        margin-right: 5px;
        margin-left: 5px;
        background-color: #0f171e;
        border: none;
        color: rgba(242, 244, 246, 0.9);
        height: 200px;
        overflow: hidden;
        transition: all .3s;
        position: absolute;
        right: 0%;
        left: 0%;
        bottom: 0%;
        top: 0%; }
        .main-container #contenedorCards .cards-peliculas .card-movie:hover {
          height: 430px;
          transform: scale(1.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          z-index: 1; }
        .main-container #contenedorCards .cards-peliculas .card-movie .img-container {
          height: 200px; }
          .main-container #contenedorCards .cards-peliculas .card-movie .img-container img {
            height: 200px;
            width: 100%; }
        .main-container #contenedorCards .cards-peliculas .card-movie .card-body {
          height: 230px;
          padding-top: 30px; }
          .main-container #contenedorCards .cards-peliculas .card-movie .card-body .movie-plot {
            font-size: 12px; }
          .main-container #contenedorCards .cards-peliculas .card-movie .card-body .age {
            font-size: 10px; }
          .main-container #contenedorCards .cards-peliculas .card-movie .card-body .hd {
            border-radius: 4px;
            text-align: center;
            font-weight: 900;
            color: black;
            font-size: 10px;
            background-color: #EDB709;
            width: 20px; }
          .main-container #contenedorCards .cards-peliculas .card-movie .card-body button {
            margin-bottom: 5px;
            width: 60%;
            font-size: 12px;
            color: rgba(242, 244, 246, 0.9);
            background-color: #0f171e;
            outline: none;
            border: solid 1px rgba(242, 244, 246, 0.9);
            border-radius: 10px;
            padding: 0px; }
            .main-container #contenedorCards .cards-peliculas .card-movie .card-body button:focus {
              outline: none !important;
              box-shadow: none !important; }
            .main-container #contenedorCards .cards-peliculas .card-movie .card-body button i {
              margin-right: 4px;
              font-size: 10px;
              color: rgba(242, 244, 246, 0.9); }
