$background-color:#0f171e;;
$color-letra: rgba(242,244,246,.9);

*{
    padding: 0;
    margin: 0;
    font-family: 'Antonio', sans-serif;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    box-sizing: border-box;
}

body{
    background: #0f171e;
}
//NAVBAR//
.bg-transparent{
    background-color: transparent !important;
    transition: 1s ease;
    .navbar-brand{
        font-size: 20px;
        color: $color-letra;
        font-family:'Bebas Neue', cursive;
    }
    .nav-item{
        font-size: 13px;
    }
    .dropdown-menu{
        background: #0f171e;
        font-size: 15px;
        :hover{
            background:#0f171e ;
        }
        .dropdown-item{
            color: $color-letra;
            :hover{
                color: $color-letra;
            }
        }
    }
    .searchBar{
        background: transparent;
        color: $color-letra;
        border: 1px  solid $color-letra;
        outline: none;
        border-radius: 0px;
        font-size: 15px;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .btn-iniciar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        margin:10px, 0px;
        font-size: 15px;
        &:focus{
            outline: none !important;
        }
        a{
            color:$color-letra;
        }
    }
    .userIconLogged{
        font-size: 20px;
    }
    .loggedButton{
        background: transparent !important;
        color: white;
        border: none;
        font-size: 18px;
        &:focus{
            box-shadow: none !important;
        }
    }
    .loggedDropdown{
        background: $background-color;
        color: white;
    }
    .btn-cerrar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        padding-right: 20px;
        font-size: 15px;
    }
}

.bg-dark{
    background-color: $background-color !important;
    transition: 1s ease;
    .navbar-brand{
        font-size: 20px;
        color: $color-letra;
        font-family:'Bebas Neue', cursive;
    }
    .nav-item{
        font-size: 13px;
    }
    .dropdown-menu{
        background: #0f171e;
        font-size: 15px;
        :hover{
            background:#0f171e ;
        }
        .dropdown-item{
            color: $color-letra;
            :hover{
                color: $color-letra;
            }
        }
    }
    .searchBar{
        background: transparent;
        color: $color-letra;
        border: .5px  $color-letra;
        outline: none;
        border-radius: none;
        font-size: 15px;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .btn-iniciar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        margin:10px, 0px;
        font-size: 15px;
        &:focus{
            outline: none !important;
        }
        a{
            color:$color-letra;
        }
    }
    .userIconLogged{
        font-size: 20px;
    }
    .loggedButton{
        background: transparent !important;
        color: white;
        border: none;
        font-size: 18px;
        &:focus{
            outline: none !important;
            box-shadow: none !important;
        }
    }
    .loggedDropdown{
        background: $background-color;
        color: white;
    }
    .btn-cerrar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        padding-right: 20px;
        font-size: 15px;
    }
}

// LOGIN FORM //

    .loginForm{
        margin-top: 100px;
        padding: 20px;
        .formInput{
            padding: 10px;
            margin: 10px;
            border: none;
        }
        .formSubmit{
            padding:10px;
            margin-top: 20px;
        }
    }

//CAROUSEL//

.carousel-one{
    #carousel-container{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.075) , rgba(0, 0, 0, 0.89) );
    }
    .carousel-info{
    color: white;
    position: absolute;
    left: 1%;
    top: 30%;
    width: 30%;
    margin-left: 100px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    h5{
        font-size: 70px;
        font-weight: 700;
        color: white;
    }
    .btn-carousel{
        display: flex;
        align-self: center;
    }
    }
}

// MAIN PELICULAS //
.main-container{
    .menuFilterGenero{
        margin-left: 20px;
        color: $color-letra;
        background-color:#0f171e;
        padding: 5px;
        border: none;
        font-size: 15px;
    }
    .section-peliculas-title{
        color: white;
        font-size: 16px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .cards-peliculas{
        margin-bottom: 60px;
        .card-movie{
            padding-top: 5px;
            padding-bottom: 5px;
            background: transparent;
            border: none;
            color: $color-letra;
            height: 200px;
            overflow: hidden;
            transition: all .5s;
            &:hover{
                height: 250px;
                transform: scale(1.2);
                margin-left: 5px;
                margin-right: 5px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            }
            .img-container{
                height: 200px;
                img{
                    height: 200px;
                    width: 100%;
                }
            }
            .card-body{
                height: 50px;
                background-color: transparent;
                border-radius: 18px 18px 18px 18px;
                .btn-primary{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    margin: 0;
                    padding: 0;
                    &:focus{
                        outline: none !important;
                        box-shadow: none !important;
                    }
                    i{
                        font-size: 18px;
                        color: $color-letra;
                        padding-right: 5px;
                    }
                }
            }
        }

    }
}
    