
$color-letra: rgba(242,244,246,.9);

*{
    padding: 0;
    margin: 0;
    font-family: 'Antonio', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #0f171e;
}

//NAVBAR//

.bg-dark{
    background-color: #0f171e !important;
    .navBar-logo{
        font-size: 26px;
        color: $color-letra;
        padding-right: 10px;
    }
    .navbar-brand{
        font-size: 23px;
        color: $color-letra;
    }
    .dropdown-menu{
        background: #0f171e;
        :hover{
            background:#0f171e ;
        }
        .dropdown-item{
            color: $color-letra;
            :hover{
                color: $color-letra;
            }
        }
    }
    .searchBar{
        background: transparent;
        color: $color-letra;
        border: .5px  $color-letra;
        outline: none;
        border-radius: none;
    }
    .btn-iniciar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        margin:10px, 0px;
        a{
            color:$color-letra;
        }
    }
    .btn-cerrar{
        background: transparent;
        border: none;
        outline: none;
        color: $color-letra;
        font-weight: 500;;
        padding-right: 20px;
    }
}

// LOGIN FORM //

    .loginForm{
        margin-top: 100px;
        padding: 20px;
        .formInput{
            padding: 10px;
            margin: 10px;
            border: none;
        }
        .formSubmit{
            padding:10px;
            margin-top: 20px;
        }
    }


.main-container{
    .button-genero{
        color: $color-letra;
        font-size: 25px;
        border: none;
        background: transparent;
        margin-left:20px;
        padding-bottom: 30px;;
    }
    .section-peliculas-title{
        color: white;
        font-size: 20px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    #productos{
        .card{
            background: transparent;
            border: none;
            color: $color-letra;
            .card-img-top{
                height:300px;
            }
            .card-body{
                .card-title{
                }
                .button-card{
                    display: flex;
                    align-self: center;
                    padding:10px;
                    border: solid 1px $color-letra;
                    background: transparent;
                    color: $color-letra;
                    outline: none;
                }
            }
        }
    }
}